.logo
{
background-color:white;
padding-left:10%;
padding-top:15px;
font-family:italic;
}

.header_button
{
	color:black;
	padding-top:25px;
	padding-left:90px;
}

.r_box
{
	color:white;
}

